name: Publish packages

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  publish-github-registry:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://npm.pkg.github.com'
          scope: '@uncodoteam'

      - run: npm ci
        working-directory: ./

      - run: npm publish --access restricted
        working-directory: ./
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}
